* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.landing{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
 
    min-height: 90vh;
    

}

#header{
    background-color: #f6f5f5;
   grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* instead of: grid-area: header; */
    min-height: 129px;
    color:#ee99c2;
    padding-top:50px;
    
}

#nav{
    background-color: #f6f5f5;
    grid-area: nav;
     grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* instead of: grid-area: nav; */
    
   
}

 ul{
    list-style-type: none;
    display:flex;
     justify-content: space-around;
     padding-top: 50px;
     scroll-behavior:smooth;
 }

 li a{
    text-decoration: none;
    color: #ee99c2
 }


#h1{
     grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* instead of: grid-area: h1; */
    min-height: 423px;
    /* background-color:blanchedalmond; */
    font-size: 89px;
        color: white;
    
}

#button{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    /* instead of: grid-area: button; */
    /* background-color:aquamarine; */
    min-height: 213px;
}

.img{
     width:100%;
     grid-column:1 / span 2;
     grid-row:2 / span 2;
     object-fit:cover;
     position: relative;
     z-index: -1;
}

section.history{
    background-color: #f6f5f5;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
}

.top{
    background-color:red;
    min-height: 288.6372px;
}

.middle{
    background-color: lightgreen;
    min-height: 184.0585px;

}

.bottom{
    background-color: midnightblue;
    min-height: 292.8203px;
}